:root {
  --Primary-100: 180 66% 49%;
  --Primary-200: 257 27% 26%;

  --Secondary-100: 0 87% 67%;
  // color: ;
  --Neutral-100: 0 0% 75%;
  --Neutral-200: 257 7% 63%;
  --Neutral-300: 255 11% 22%;
  --Neutral-400: 260 8% 14%;
}
